<h1 class="welcome-msg"><%= t('labels.welcome_msg') %></h1>
<p class="welcome-text">
  <%= t('labels.index_msg_line1') %><br>
  <%= t('labels.index_msg_line2') %><br>
  <%= t('labels.index_msg_line3') %>
</p>