<h1 class="welcome-msg">Welcome to Twitter New.</h1>
<p class="welcome-text">
  Connect With Buddies.Chat With New Friends. <br>
  Share Your Adventures. Have Fun!<br>
  Just Like A Blog With Less Characters.
</p>